
bbody { 
    display: flex; 
    flex-direction: row;        /* Pone la cruceta y el botón lado a lado */
    justify-content: space-around; /* Deja un espacio cómodo en el centro para la pantalla */
    align-items: center; 
    height: 100vh; 
    background: #121212; 
    margin: 0; 
    padding: 0 40px;            /* Margen en las esquinas para que no quede pegado al borde del cel */
    overflow: hidden;           /* Evita barras de desplazamiento raras */
    
    /* Bloqueos vitales para que no se arruine la experiencia al presionar rápido */
    user-select: none; 
    -webkit-user-select: none;
    touch-action: manipulation; 
}

/* Contenedor de la Cruceta (Se mantiene en Grid 3x3, pero un poco más compacto para horizontal) */
.dpad-container {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    gap: 4px;
}

/* Estilo general para los botones de dirección */
.dbtn {
    background: #393e46;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}
.dbtn:active { 
    background: #00adb5; 
} 

/* Posicionamiento de las flechas en la rejilla */
.btn-up    { grid-column: 2; grid-row: 1; }
.btn-left  { grid-column: 1; grid-row: 2; }
.btn-right { grid-column: 3; grid-row: 2; }
.btn-down  { grid-column: 2; grid-row: 3; }

/* El botón redondo de SALTAR (Se mueve de forma natural a la derecha por el flex-direction: row) */
.btn-play { 
    width: 130px; 
    height: 130px; 
    border-radius: 50%; 
    background: #00adb5; 
    color: white; 
    border: none; 
    font-size: 20px; 
    font-weight: bold; 
    box-shadow: 0 8px 20px rgba(0,0,0,0.4); 
    cursor: pointer;
}
.btn-play:active { 
    background: #222831; 
    transform: scale(0.95); 
}